{% extends 'base.html.twig' %}

{% block title %}Hello FrontendController!{% endblock %}

{% block body %}
    <h1>Hello FrontendController! ✅</h1>
    <p>This friendly message is coming from:</p>
    <ul>
        <li>Your controller at <code><a href="{{ path('frontend_index') }}">src/Controller/FrontendController.php</a></code></li>
        <li>Your template at <code>templates/frontend/index.html.twig</code></li>
    </ul>
{% endblock %}
